{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block css %}

<title>{% trans "Change Password" %} - Jane's Fashion</title>
{% endblock %}

{% block content %}
<section class="signin-page account">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="block text-center">
    <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" class="text-left clearfix" action="{{ action_url }}">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" name="action" class="btn btn-main" value="{% trans 'change password' %}"/>
            </form>
        {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}</div></div></div></div></section>
{% endblock %}
