{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load account %}

{% block css %}

<title>{% trans "Password Reset" %} - Jane's Fashion </title>
{% endblock %}

{% block content %}
<section class="signin-page account">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="block text-center">

    <h1>{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Forgotten your password? <br> Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class=" text-left clearfix password_reset">
        {% csrf_token %}
        {{ form|crispy}}
        <input type="submit" class="btn btn-main" value="{% trans 'Reset My Password' %}" />
    </form>
<br>
    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
    </div>
    </div>
    </div>
    </div></section>
{% endblock %}
