{% load static %}

	<section class="banner2 p-t-150 p-b-150">
		<div class="container">
			<div class="row">
				
				{% for item  in shoptop %}
					
			
					
				<div class="col-sm-10 col-md-8 col-lg-6 m-l-r-auto p-t-15 p-b-15">
					<div class="hov-img-zoom pos-relative">
						<img src="{{item.image.url}}" alt="IMG-BANNER">

						<div class="ab-t-l sizefull flex-col-c-m p-l-15 p-r-15">
							<span class="m-text9 p-t-45 fs-20-sm">
						{{item.title}}
							</span>

							<h3 class="l-text1 fs-35-sm">
								{{item.text}}
							</h3>

							<a href="{{item.link}}" class="s-text4 btn btn-small p-t-10  p-b-10">
								View Collection
							</a>
						</div>
					</div>
				</div>
					{% endfor %}
			{% for item  in shopbottom %}
				<div class="col-sm-10 col-md-8 col-lg-6 m-l-r-auto p-t-15 p-b-15">
					<div class="bgwhite hov-img-zoom pos-relative p-b-20per-ssm">
						<img src="{{item.image.url}}" alt="IMG-BANNER">

					
					</div>
				</div>
							{% endfor %}
			</div>
		</div>
	</section>