{% extends 'base.html' %}

{% block css %}

<title>FAQ - Jane's Fashion</title>
{% endblock css%}
{% block content %}


<section class="page-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="content">
					<h1 class="page-name">Frequently Asked Questions</h1>
					<ol class="breadcrumb">
						<li><a href="{% url 'core:home' %}">Home</a></li>
						<li class="active">F.A.Q</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="page-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h2>Frequently Asked Questions</h2>

				<p class="m-b-8">support@janes-fashion.com</p>
			</div>
			<div class="col-md-8">
				<h4 class="f-s-34 p-b-8">How do I place an order</h4>
				<p class="f-s-18 p-b-8">You simply place an order by clicking buy now on the products and checking out
					after filling your billing details and payment details. That simple.</p>
				<h4 class="f-s-34 p-b-8">Can I get a discount</h4>
				<p class="f-s-18 p-b-8">For now, no, however, during our promos and sales, any discount or coupon will
					be communicated</p>
				<h4 class="f-s-34 p-b-8">How long will it take to get my items after I make payment </h4>
				<p class="f-s-18 p-b-8"> Delivery is on or before 72 hours.</p>

				<h4 class="f-s-34 p-b-8">Privacy Policy</h4>
				<p class="f-s-18 p-b-8">Information we collect <br>
					The personal information that you are asked to provide, and the reasons why you are asked to provide
					it, will be made clear to you at the point we ask you to provide your personal information.

					When you register for an Account, we may ask for your contact information, including items such as
					name, address, and email address.</p>
			</div>
		</div>
	</div>
</section>

{% endblock content %}