{% load static %}

<footer class="footer section text-center">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul class="social-media">
					<li>
						<a target="_blank" href="https://web.facebook.com/Janesfashionn/">
							<i class="tf-ion-social-facebook"></i>
						</a>
					</li>
					<li>
						<a target="_blank" href="https://www.instagram.com/janesfashionn/">
							<i class="tf-ion-social-instagram"></i>
						</a>
					</li>



				</ul>
				<ul class="social-media m-t-8">

					<li>
						<a><img src="{% static 'images/paystack.svg' %}" alt=""></a>
					</li>


				</ul>
				<ul class="footer-menu">
					<li>
						<a href="{% url 'core:contact' %}">CONTACT</a>
					</li>
					<li>
						<a href="{% url 'core:faq' %}">FAQ</a>
					</li>
					<li>
						<a href="{% url 'core:returns' %}">RETURNS POLICY</a>
					</li>
					<li>
						<a href="{% url 'blog:blog' %}">BLOG</a>
					</li>
				</ul>

			</div>
		</div>
	</div>
</footer>