{% extends 'base.html' %}
{% load humanize %}
{% block css %}
<title>My Orders - Jane's Fashion</title>
{% endblock css %}
{% block content %}

<section class="page-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="content">
					<h1 class="page-name">Dashboard</h1>
					<ol class="breadcrumb">
						<li><a href="{% url 'core:home' %}">Home</a></li>
						<li class="active">My Orders</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="user-dashboard page-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<ul class="list-inline dashboard-menu text-center">
					<li><a href="{% url 'core:dashboard' %}">Dashboard</a></li>
					<li><a class="active" href="{% url 'core:order' %}">Orders</a></li>
					<li><a href="{% url 'core:address' %}">Address</a></li>
			
				</ul>
				<div class="dashboard-wrapper user-dashboard">
					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th>Order ID</th>
									<th>Date</th>
								
									<th>Total Price</th>
									<th>Status</th>
									<th></th>
								</tr>
							</thead>
							<tbody>

							{% for order in order.all %}

						
								<tr>
									<td>JNF #{{order.order_id}}</td>
									<td>{{order.ordered_date}}</td>
							
									<td>&#8358; {{order.get_total|intcomma}}</td>
									<td><span class="label label-success">Completed</span></td>
									<td><a href="{% url 'core:ordered-detail' order.pk%}" class="btn btn-default">View</a></td>
								</tr>
								{% empty%}

								<td><p>You have made no purchase yet</p></td>
						{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock content %}